.logo,
	#navigation, 
	#slogan_h1,
	#slogan_h3,
	#about_intro,
	#about_icon1,
	#about_icon2,
	#about_icon3,
	#counter_box1,
	#counter_box2,
	#counter_box3,
	#counter_box4, 
	#team_intro,
	#team_slider,
	#crew_intro,
	#crew_member1,
	#crew_member2,
	#crew_member3,
	#crew_member4,
	#portfolio_intro,
	#portfolio_1,
	#portfolio_2,
	#portfolio_3,
	#portfolio_4,
	#portfolio_5,
	#portfolio_6,
	#portfolio_7,
	#portfolio_8,
	#portfolio_9,
	#portfolio_item_icons_top,
	#portfolio_item_title,
	#portfolio_item_details,
	#portfolio_item_icons_bottom, 
	#services_intro,
	#services_column_left,
	#services_column_right,
	#services1a_image,
	#services1b_image,
	#services2a_image,
	#services2b_image,
	#testimonials,
	#pricing_intro,
	#pricing_box1,
	#pricing_box2,
	#pricing_box3,
	#news_intro,
	#news1,
	#news2,
	#news3,
	#more_posts,
	#contact_form,
	#contact_info
	{
	    opacity:1
	}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/for_background_slider/1.jpg)no-repeat center center scroll;
    background-size: cover;
}	