@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* scroll to top */

.scroll-up .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(61, 56, 77, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    bottom: 60px;
    right: 60px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.scroll-up .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(27, 27, 27);
    align-items: center;
}

.scroll-up .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.scroll-up .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.scroll-up .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

h2 {
    color: #e4e4e4;
    font-size: 46px;
    max-width: 940px;
    text-align: center;
    margin: auto;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 90px auto 140px;
    background: -webkit-linear-gradient(45deg, #c2a2fa, #9fc8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thoughts h2 {
    font-size: 56px;
    line-height: 76px;
    background: -webkit-linear-gradient(85deg, #73deff, #fff4f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thoughts p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.keys {
    display: flex;
    gap: 140px;
    justify-content: center;
    margin-bottom: 90px;
}

ul {
    text-align: left;
    color: #898989;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
}

p {
    font-size: 20px;
    color: #7c7c7c;
    filter: drop-shadow(0 0 11px black);
}

* {
    font-family: "Nanum Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all .4s;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

:root {
    --gray-color-opac-secondary: #d7d7d759;
}

a {
    text-decoration: none;
    margin: 0;
}

body {
    min-width: 320px;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.content_container {
    max-width: 1440px;
    margin: auto;
    padding: 20px 60px;
    transition: all 1s;
}

.background-video {
    width: 100%;
    height: 880px;
    object-fit: cover;
}

h1 {
    font-size: 92px;
}

.hero {
    width: 100%;
    height: 100%;
    /* background: radial-gradient(ellipse, orangered, transparent, orange) orange; */
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.hero .container {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.hero .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.hero .container::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg, #000000 15%, rgba(119, 119, 119, 0.2) 75%, transparent);
}

.hero .container img {
    width: 260px;
    height: auto;
}

.hero .container h1 {
    margin: 0;
}

.hero .content {
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.hero .content h1 {
    color: #fff;
}

.hero .content p {
    color: #e2e2e2;
    opacity: .8;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content_container.products .container {
    padding: 40px;
    border-radius: 30px;
    background: linear-gradient(348deg, #1b1b1b, #171717);
    margin: auto;
    justify-content: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.content_container.products img {
    width: 100%;
    position: relative;
    border-radius: 20px;
    transform: translateY(-70px);
    box-shadow: 0 0 50px 11px rgb(0, 0, 0);
    margin: auto;
}

.content_container.products h2 {
    margin-bottom: 60px;
}

.content_container.products h3 {
    background: -webkit-linear-gradient(45deg, #999999, #828282);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 20px 40px;
}

.img-wrapper {
    border-radius: 10px;
    position: relative;
    transform: translateY(-70px);
    border-radius: 10px;
    height: 100%;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-70px);
    background-color: rgb(109 109 109 / 36%);
    border-radius: 20px;
    z-index: 5555;
}

.content_container.products p {
    max-width: 1250px;
    line-height: 40px;
    transform: translateY(-40px);
    margin: auto;
    font-size: 22px;
}

.content_container.products .product-title {
    margin-bottom: 140px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.content_container.products .product-title span {
    font-size: 22px;
    padding-right: 10px;
    background: -webkit-linear-gradient(99deg, #e1e1e1, #9a9a9a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.keypoints h3 {
    font-size: 20px;
    line-height: 32px;
}

hr {
    box-shadow: 0 0 11px rgb(61, 61, 61);
    color: rgb(65, 65, 65);
    width: 100%;
    border: none;
    height: 1px;
}

.anchor-button {
    color: #fff;
    padding: 20px;
    border-radius: 40px;
    background-color: blue;
}


/* Apply fade-in animation to elements */

.reveal {
    opacity: 0;
    /* Initially hidden */
    animation-duration: 2s;
    animation: fade-in 2s ease-out;
}


/* Ensure animation starts when in view */

.reveal.in-view {
    opacity: 1;
    /* Make visible */
}

.milestone .container .step {
    display: flex;
    gap: 40px;
    position: relative;
}

.milestone .container .step>p:first-of-type {
    position: relative;
    border-radius: 50%;
    padding: 25px;
    border: 2px solid #9c9c9c;
    background-color: #000;
    height: fit-content;
}

.milestone .container .step::after {
    content: "";
    height: 80%;
    border: 2px solid #707070;
    border-width: 2px;
    position: absolute;
    left: 25px;
    top: 72px;
}

.milestone .container .step:last-of-type::after {
    border: none;
}

.milestone .container .step>p:first-of-type span {
    position: absolute;
    left: 18px;
    top: 12px;
    color: #acacac;
}

.milestone .container .step>p:last-of-type {
    line-height: 40px;
    color: #949494;
}

.milestone h3 {
    font-size: 32px;
    background: -webkit-linear-gradient(90deg, #d37676, #f49e53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    padding: 40px;
}

footer .wrapper {
    max-width: 1440px;
    margin: auto;
    position: relative;
    border-top: 1px solid rgb(84, 84, 84);
    padding-top: 60px;
}

footer .wrapper .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer .wrapper .container h3 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
}

footer .brand_logo {
    display: flex;
    gap: 10px;
    justify-content: left;
    height: fit-content;
}

footer .country-made {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer .contact-details span {
    width: 500px;
    color: rgb(109, 109, 109);
    margin-right: 20px;
}

footer .brand_logo img {
    width: 30px;
    padding: 6px;
    border-radius: 10px;
    height: fit-content;
    background-color: #fff;
}

footer .brand_logo h4 {
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    padding-top: 6px;
}

@media (prefers-reduced-motion: no-preference) {
    .reveal {
        animation: fade-in ease-out;
        animation-timeline: view();
        animation-range-start: 0px;
        animation-range-end: 730px;
    }
}

@keyframes fade-in {
    from {
        scale: .4;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .content_container {
        padding: 0;
    }
    h1 {
        font-size: 24px;
    }
    .thoughts {
        margin-top: 110px;
    }
    .milestone {
        margin: 120px 20px;
    }
    .milestone p {
        font-size: 16px;
    }
    ul {
        font-size: 20px;
    }
    h2 {
        color: #e4e4e4;
        font-size: 38px;
        max-width: 100%;
        text-align: center;
        margin: auto;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: unset;
        margin: 20px auto 20px;
    }
    .thoughts h2 {
        font-size: 42px;
    }
    .content {
        margin: 0 20px;
        text-align: center;
    }
    .img-wrapper::after {
        border-radius: 10px;
        transform: translateY(-10px);
    }
    .content_container.products img {
        transform: translateY(-10px);
        border-radius: 10px;
    }
    .content_container.products .container {
        padding: 20px 20px 60px;
    }
    .content_container.products .product-title {
        margin-bottom: 80px;
    }
    .keys {
        flex-direction: column;
        gap: 0;
    }
    .content_container.products p {
        font-size: 16px;
        line-height: 30px;
    }
    footer .wrapper .container {
        flex-direction: column;
    }
    footer .country-made {
        position: unset;
        margin: 0;
        padding-top: 10px;
    }
    footer .contact {
        margin-top: 40px;
    }
}
