@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* scroll to top */

:root {
    --primary-color: #000;
    --primary-color-lite: #171717;
    --font-color-highlight: #bababa;
    --font-color: #c0bfbf;
    --button-color: #2626e6;
    --white: #f3f3f3;
    --black: #111111;


    --primary-color: #fff;
    --primary-color-lite: #eaeaea;
    --font-color-highlight: #212121;
    --font-color: #363636;
    --button-bg-color: #2626e6;
    --button-txt-color: #fff;
    --white: #f3f3f3;
    --black: #111111;
}

.creds span {
    font-size: 12px;
}

.creds {
    margin: 80px 0;
}

.creds > div {
    display: flex;
    gap: 10px;
    line-height: 28px;
}

.creds p {
    background-color: var(--primary-color-lite);
    margin: 0;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--font-color-highlight);
    font-weight: 500;
}

h1,h1 span {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

p,strong,span,ul,li {
    color: var(--font-color);
    font-weight: 400;
    font-size: 18px;
}

strong {
    font-weight: 600;
}

ul,li {
    font-size: 20px;
    line-height: 30px;
}

.center {
    width: fit-content;
    width: max-content;
    margin: auto;
}

/* font themes */

.gradient-color {
    background: -webkit-linear-gradient(45deg, #226d9d, #63a6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-color.candy {
    background: -webkit-linear-gradient(45deg, #9866ed, #5097f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-color.mario {
    background: -webkit-linear-gradient(45deg, #e9495e, #ffc932);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-color.darken {
    background: -webkit-linear-gradient(45deg, #363636, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button,
.button {
    color: var(--button-txt-color);
    font-weight: 600;
    font-size: 18px;
    padding: 12px 18px;
    background-color: var(--button-bg-color);
    display: block;
    text-decoration: none;
}

button span,
.button span {
    color: var(--button-txt-color);
}

.button.marginTop {
    margin-left: auto;
}

body {
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: var(--primary-color);
    min-width: 320px;
    position: relative;
    padding: 0;
    margin: 0;
}

.scroll-up .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color-lite);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    bottom: 60px;
    right: 60px;
}

.products-container {
    margin: 80px 0;
}

.products-container .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.products-container a {
    padding: 12px 18px;
    border: 1.4px solid var(--primary-color-lite);
    background-color: var(--white);
}

.products-container a:hover {
    border-color: var(--primary-color-lite);
    background-color: var(--primary-color);
    color: var(--font-color-highlight);
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: var(--white);
}

.scroll-up .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--primary-color);
    align-items: center;
}

.scroll-up .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.scroll-up .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: var(--white);
    font-size: 0px;
}

.scroll-up .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}


.keys {
    display: flex;
    gap: 140px;
    justify-content: center;
    margin-bottom: 90px;
}

a {
    text-decoration: none;
    margin: 0;
}

.content_container {
    max-width: 1440px;
    margin: auto;
    padding: 20px 60px;
    transition: all 1s;
}

.video-wrapper video {
    width: 80%;
    height: auto;
    padding: 20px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
}

.hero {
    width: 100%;
    background: linear-gradient(253deg, #fff6fc, transparent);
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.motive {
    font-size: 34px;
    text-align: center;
    max-width: 720px;
    margin: auto;
}

.motive+p {
    text-align: center;
}

.hero .container {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.hero .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.hero .container::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg, #000000 15%, rgba(119, 119, 119, 0.2) 75%, transparent);
}

.hero .container video {
    height: 880px;
    width: 100%;
}

.hero .container h1 {
    margin: 0;
}

.hero .content {
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.hero .content p {
    opacity: .8;
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

.content_container.products .container {
    border-radius: 30px;
    margin: auto;
    justify-content: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.content_container.products img {
    width: 100%;
    position: relative;
    border-radius: 20px;
    transform: translateY(-70px);
    box-shadow: 0 0 50px 11px rgb(0, 0, 0);
    margin: auto;
}

.img-wrapper {
    border-radius: 10px;
    position: relative;
    transform: translateY(-70px);
    border-radius: 10px;
    height: 100%;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-70px);
    background-color: rgb(109 109 109 / 36%);
    border-radius: 20px;
    z-index: 5555;
}

.keypoints {
    padding: 40px 40px 80px;
}

.keypoints h3 {
    font-size: 26px;
    line-height: 32px;
}

hr {
    box-shadow: 0 0 11px rgb(61, 61, 61);
    color: rgb(65, 65, 65);
    width: 100%;
    border: none;
    height: 1px;
}

/* Apply fade-in animation to elements */

.reveal {
    opacity: 0;
    /* Initially hidden */
    animation-duration: 2s;
    animation: fade-in 2s ease-out;
}


/* Ensure animation starts when in view */

.reveal.in-view {
    opacity: 1;
    /* Make visible */
}

.milestone .container .step {
    display: flex;
    gap: 40px;
    position: relative;
}

.milestone .container .step>p:first-of-type {
    position: relative;
    border-radius: 50%;
    padding: 25px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color-lite);
    height: fit-content;
}

.milestone .container .step::after {
    content: "";
    height: 80%;
    border: 2px solid var(--primary-color-lite);
    border-width: 2px;
    position: absolute;
    left: 25px;
    top: 72px;
}

.milestone .container .step:last-of-type::after {
    border: none;
}

.milestone .container .step>p:first-of-type span {
    position: absolute;
    left: 18px;
    top: 12px;
}

.milestone .container .step>p:last-of-type {
    line-height: 40px;
}

.milestone h3 {
    font-size: 32px;
}

footer {
    padding: 40px;
}

footer .note {
    font-size: 12px;
    color: var(--font-color);
}

footer .wrapper {
    max-width: 1440px;
    margin: auto;
    position: relative;
    border-top: 1px solid rgb(84, 84, 84);
    padding-top: 60px;
}

footer .wrapper .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer .wrapper .container h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
}

footer .brand_logo {
    display: flex;
    gap: 10px;
    justify-content: left;
    height: -webkit-fill-available;
}

footer .country-made {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer .contact-details span {
    width: 500px;
    color: rgb(109, 109, 109);
    margin-right: 20px;
}

footer .brand_logo img {
    width: 30px;
    padding: 6px;
    border-radius: 10px;
    height: -webkit-fill-available;
    height: intrinsic;
    background-color: var(--white);
}

footer .brand_logo h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    padding-top: 6px;
}

@media (prefers-reduced-motion: no-preference) {
    .reveal {
        animation: fade-in ease-out;
        animation-timeline: view();
        animation-range-start: 0px;
        animation-range-end: 240px;
    }
}

@keyframes fade-in {
    from {
        scale: .4;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .content_container {
        padding: 0;
    }

    .img-wrapper::after {
        border-radius: 10px;
        transform: translateY(-10px);
    }

    .content_container.products img {
        transform: translateY(-10px);
        border-radius: 10px;
    }

    .content_container.products .container {
        padding: 20px 20px 60px;
    }

    .content_container.products .product-title {
        margin-bottom: 80px;
    }

    .keys {
        flex-direction: column;
        gap: 0;
    }

    .content_container.products p {
        font-size: 16px;
        line-height: 30px;
    }

    footer .wrapper .container {
        flex-direction: column;
    }

    footer .country-made {
        position: unset;
        margin: 0;
        padding-top: 10px;
    }

    footer .contact {
        margin-top: 40px;
    }

    h1,h1 span {
        font-size: 24px;
        font-weight: 300;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p,strong,span,ul,li {
        color: var(--font-color);
        font-weight: 400;
        font-size: 16px;
    }
    
    ul,li {
        font-size: 16px;
        line-height: 24px;
    }
}